<section id="coming-soon">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center gradient-aqua-marine">
        <div class="card p-3 box-shadow-2">
          <div class="card-header text-center">
            <!--<img alt="avtar" class="img-fluid mb-3" src="../app-assets/img/logos/logo-color-big.png" width="80">-->
            <h4 class="text-uppercase text-bold-400 grey darken-1">Coming Soon</h4>
          </div>
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-text pb-2">WELCOME TO PHOTO MANAGEMENT APP.</h5>

              <div class="col-12 pt-1">
                <p class="card-text lead">Our website is under construction.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
